.productList{
    flex: 4;
}

#macs
{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#macs td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #macs tr:nth-child(even){background-color: #f2f2f2;}
  
  #macs tr:hover {background-color: #ddd;}
  
  #macs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(251, 251, 255);
    color: black;
    border: 1px solid #ddd;
  }

